/* Pj Ellis - Module 12 - Final Exam - Personal Bio Site CSS */
/* RESPONSIVE VERSION */

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(3, 73, 3, 0.2);
    font-family: "Oswald", Verdana, Arial, sans-serif;
}

.container {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

h1 {
    text-align: center;
    font-weight: 400;
    text-shadow: 10px 10px 10px black;
}

h2 {
    font-weight: 400;
    color: white;
    font-size: 3em;
    background-color: rgb(4, 124, 64);
    border: 2pt solid gold;
    box-shadow: 10px 10px 10px grey;
    text-shadow: 5px 5px 10px black;
    padding: 10px;
}

h3 {
    text-align: center;
    font-weight: 400;
    color: rgb(4, 124, 64);
    font-size: 2.5em;
    margin: 0px;
    padding: 5px;
    text-shadow: 2px 2px 5px black;
}

h4 {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    color: rgb(4, 124, 64);
    font-weight: 400;
    margin: 0px;
    padding: 5px;
    text-shadow: 2px 2px 3px grey;
}

header {
    background-color:  rgb(4, 124, 64);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 2.2em;
}

#navbar {
    overflow: hidden;
    background-color: rgb(4, 124, 64);
    border-bottom: 5px solid gold;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(11, 65, 11);
    color: white;
}

.content {
    width: 100%;
    display: block;
    overflow: hidden;
    border: 2px solid gold;
}

.left {
    float: left;
}

img {
    padding: 20px;
}

.card {
    border: 2px solid gold;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    transition: 0.3s;
    margin: 10px;
    overflow: hidden;
}

.card_content {
    font-size: 1.5em;
    padding: 2px 16px;
}

.columns {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

@media only screen and (max-width: 1200px) {
    .columns {
      display: grid;  
      grid-template-columns: 50% 50%;      
    }
  }


@media only screen and (max-width: 850px) {
    .columns {
        display: grid;
        grid-template-columns: 100%;
    }

    .left {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

fieldset {
    width: 350px;
    margin-bottom: 100px;
    text-align: right;
    float: right;
}

footer {
    background-color: rgb(4, 124, 64);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5pt solid gold;
}

footer a {
    font-weight: 400;
    color: black;
    float: right;    
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer a:hover {
    background-color: rgb(11, 65, 11);
    color: white;
}